## 月MACD在零线上刚金叉的

网址 https://www.mairui.club/gratis.html

证书 C763BEC3-16CD-4F7B-B8C4-3EC5D15BECB7

In [1]:
import akshare as ak
import pandas as pd
from pandas import DataFrame
from datetime import datetime, timedelta
import time
import matplotlib.pyplot as plt
import shutil
from pathlib import Path
from concurrent.futures import ThreadPoolExecutor, as_completed
import random
import os

import common
import calculate

# current_date = datetime.now() + timedelta(days=1)
# one_week_ago = current_date - timedelta(days=7)  # 计算一周之前的日期

In [2]:
file_name = "./txt_lib/stock_code.txt"
with open(file_name, "r") as file:
    stock_list = [line.strip() for line in file if line.strip()]

mode = "macd" # 设定macd模式

# 限制股票数量
stock_list = stock_list[:250]
all_golden_cross = common.Final_process.process_stocks(stock_list, mode)

Attempt 1 failed for sh600083: No value to decode
Max retries reached for sh600083. Skipping...
处理股票 sh600083 时出错: 'date'

In [3]:
filename = "./txt_lib/stock_name.txt"  # 替换新文件路径
stock_dict = common.Initialization.generate_stock_dict(filename)
print(f"总计股票数量：{len(all_golden_cross)}")
for stock_code in all_golden_cross:
    cur_stock_code = str(stock_code[-6:])  # 取出六位股票代码
    stock_name = stock_dict.get(cur_stock_code, "未知")  # 获取股票名称
    print(
        f"股票代码: {cur_stock_code}, 股票名称: {stock_name} "
    )

总计股票数量：4
股票代码: 600051, 股票名称: 宁波联合
股票代码: 600097, 股票名称: 开创国际
股票代码: 600137, 股票名称: 浪莎股份
股票代码: 600319, 股票名称: 亚星化学

In [4]:
try:
    folder = Path("./output/month_macd")
    folder.mkdir()
except Exception as e:
    pass

common.Final_file.clean_folder("./output/month_macd")

output_file = "./output/month_macd/month_cross_summary.xlsx"
common.Final_file.output_excel(all_golden_cross, output_file)  # 生成excel
common.Final_file.mk_pic(output_file)  # 生成所有图片

Excel 文件已生成: ./output/month_macd/month_cross_summary.xlsx
所有图片已生成！

## TEST

In [1]:
import common
import calculate

In [18]:
stock_code = "sh600097"
current_date = datetime.now() + timedelta(days=1)
end_date = current_date
df = ak.stock_zh_a_daily(
    symbol=stock_code,
    start_date="2010-01-01",
    end_date=end_date.strftime("%Y-%m-%d"),
    adjust="hfq",
)  # qfq=前复权

In [22]:
stock_code = "sh600097"
data = common.Download.download_with_retry(stock_code)

In [23]:
monthly_df = calculate.MACD.get_monthly_kline(data)
monthly_df.tail(7)

    year_month   open   high   low  close       volume
174    2024-11   9.11  10.09  8.91   9.78  125401018.0
175    2024-12   9.79  11.76  9.26  10.14  161911237.0
176    2025-01  10.04  10.35  8.74   9.36   61346427.0
177    2025-02   9.37   9.59  8.85   8.88   61928415.0
178    2025-03   8.91  12.90  8.85   9.45  240598457.0
179    2025-04   9.52   9.82  8.73   9.64  150341526.0
180    2025-05   9.68   9.99  9.64   9.97   17882932.0

In [24]:
monthly_df = calculate.MACD.calculate_macd(monthly_df)
monthly_df.tail(7)

,year_month,open,high,low,close,volume,EMA_short,EMA_long,DIF,DEA,MACD_hist,MACD_Golden,MACD_Death
174,2024-11,9.11,10.09,8.91,9.78,125401018.0,9.002883,9.214063,-0.211180,-0.233506,0.044654,True,False
175,2024-12,9.79,11.76,9.26,10.14,161911237.0,9.177824,9.282651,-0.104826,-0.207770,0.205888,False,False
176,2025-01,10.04,10.35,8.74,9.36,61346427.0,9.205851,9.288380,-0.082529,-0.182722,0.200386,False,False
177,2025-02,9.37,9.59,8.85,8.88,61928415.0,9.155720,9.258130,-0.102410,-0.166660,0.128500,False,False
178,2025-03,8.91,12.90,8.85,9.45,240598457.0,9.200994,9.272343,-0.071348,-0.147597,0.152498,False,False
179,2025-04,9.52,9.82,8.73,9.64,150341526.0,9.268534,9.299576,-0.031043,-0.124286,0.186487,False,False
180,2025-05,9.68,9.99,9.64,9.97,17882932.0,9.376451,9.349237,0.027214,-0.093986,0.242401,False,False

In [ ]:
DIF -0.065
DEA -0.531